<p id="notice"><%= notice %></p>

<p>
  <b>Cod:</b>
  <%= @cliente_producto.cod %>
</p>


<%= link_to 'Edit', edit_cliente_producto_path(@cliente_producto) %> |
<%= link_to 'Back', cliente_productos_path %>
